In [1]:
# Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs to demonstrate their use.

So basically, when you have to pass n number of arguments into the function at that time we use *args. The type of that data is Tuple.

Similarly, when you have to pass n number of key-word(key-value pair) arguments into the function and get the data in the form of Dictinary at that time we use **kwargs.

Note:- Here args and kwargs are just a conventional. It denotes args means arguments and kwargs means key-word(key-value) arguments. It's not compulsory to write args and kwargs after (*)asterisk. You can use any name after the (*)asterisk. For example, *data, **employee

Example of *args:

In [15]:
def example(*data):
    return data

example(1,2,3,"Henil",'Rupawala')

(1, 2, 3, 'Henil', 'Rupawala')

In [12]:
def add(*num):
    print("Data type of argument:",type(num))
    sum = 0
    
    for n in num:
        sum = sum + n

    print("Sum:",sum)

add(1,2)
add(12,45,56,89)
add(102,203,456,452,5)

Data type of argument: <class 'tuple'>
Sum: 3
Data type of argument: <class 'tuple'>
Sum: 202
Data type of argument: <class 'tuple'>
Sum: 1218

Example of *kwargs:

In [1]:
def example2(**data):
    print("Data type of argument:",type(data))
    return data

example2(fname='Henil', lname='Rupawala', age=23)

Data type of argument: <class 'dict'>

{'fname': 'Henil', 'lname': 'Rupawala', 'age': 23}